<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% load poll_extras %}
{% if user.is_authenticated %}
{{user}}
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}

<hr>

{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ question.question_number }}. {{ question.question_text}}
            </h1></legend>
            {% if error_message %} <p><strong>{{ error_message }}</strong></p> {% endif %}

            {% if question.isTextField %}
            <input type="text" id="choice" value="{{answer|index:forloop.counter0}}" multiline name="choice" size="50"
                   style="height:40px;font-size:14pt;"><br>
            {% else %}
            {% for choice in question.choice_split %}
            <input type="{{question.type}}" value="{{choice}}"

                   {% if choice in answer|index:forloop.parentloop.counter0 %}
                   checked="checked"
                   {% endif %}

                   name="choice" id="multiple_choice">
            <lable value={{choice.choice_text}}>{{choice}}</lable>
            <br>
            {% endfor %}
            {% endif %}


        </fieldset>
        <button type="sumbit" value="Vote">Głosuj!</button>

    </form>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}
</body>
</html>